body {
      max-width: 100% ;
      height: auto ;
    background: rgb(255, 255, 255);
    
  }
  
  #myCanvas {
    display: block;
  }
  p{
    color: brown;
    top: 0%;
    height: 50px; 
    width: 50px;
  }